In [3]:
pd.DataFrame({"bob":["i like python", "i dont like python"], 
              "tom":["preety cool","not nice at all"]})

                  bob              tom
0       i like python      preety cool
1  i dont like python  not nice at all

In [2]:
import pandas as pd

In [8]:
pd.DataFrame({"line one":["alice","tomas","nicole"],
              "line two":["sa,", "ossis","od"]},
              index=["pr_1", "pr-2","pr3"])

DataFrame.dtypes()

NameError: name 'DataFrame' is not defined

In [11]:
pd.Series([1,2,3,4,5,6],
         index=["1","2","3","4","5","3"])

1    1
2    2
3    3
4    4
5    5
3    6
dtype: int64

In [14]:
cl=pd.read_csv("time_series_covid19_confirmed_global.canda&us.csv")#index_col=0)
cl

   Months  2020 (US)  2020 (Canada)   2021 (US)  2021 (Canada)
0     Jan         41             12   733068479       21720235
1     Feb        402            239   776089304       23279070
2     Mar    1121455          58816   918766534       28662991
3     Apr   19952115         977839   946785056       33268713
4     May   45532271        2392456  1022498161       41170707
5     Jun   64923564        3015280  1006996231       42325516
6     Jul  111419452        3460239  1060555421       44341942
7     Aug  166389385        3850908  1150163602       45460750
8     Sep  199199386        4305850  1249406449       47080268
9     Oct  251452617        6164002  1392031827       52220644
10    Nov  340128433        9177149  1418982171       52864275
11    Dec  529508337       15106665  1857993914       70660679

In [75]:
cl=cl.sort_values(by="Months")
cl

    level_0  index Months  2020 (US)  2020 (Canada)   2021 (US)  2021 (Canada)
3         3      3    Apr   19952115         977839   946785056       33268713
7         7      7    Aug  166389385        3850908  1150163602       45460750
11       11     11    Dec  529508337       15106665  1857993914       70660679
1         1      1    Feb        402            239   776089304       23279070
0         0      0    Jan         41             12   733068479       21720235
6         6      6    Jul  111419452        3460239  1060555421       44341942
5         5      5    Jun   64923564        3015280  1006996231       42325516
2         2      2    Mar    1121455          58816   918766534       28662991
4         4      4    May   45532271        2392456  1022498161       41170707
10       10     10    Nov  340128433        9177149  1418982171       52864275
9         9      9    Oct  251452617        6164002  1392031827       52220644
8         8      8    Sep  199199386        4305850  1249406449       47080268

In [69]:
cl.sort_values(by='len')

KeyError: 'len'

In [62]:
cl["Months"].value_counts()

Jan    1
Feb    1
Mar    1
Apr    1
May    1
Jun    1
Jul    1
Aug    1
Sep    1
Oct    1
Nov    1
Dec    1
Name: Months, dtype: int64

In [66]:
cl.groupby(["Months"]).2021(Canada).agg([len, min, max])

SyntaxError: invalid syntax (Temp/ipykernel_6488/2394402731.py, line 1)

In [59]:
cl.loc[(cl["Months"] == "Jan") | (cl["Months"] == "Feb")]
type(cl)
#cl.dtypes

pandas.core.frame.DataFrame

In [40]:
cl.loc[:,["2020 (US)","2020 (Canada)"]]

    2020 (US)  2020 (Canada)
0          41             12
1         402            239
2     1121455          58816
3    19952115         977839
4    45532271        2392456
5    64923564        3015280
6   111419452        3460239
7   166389385        3850908
8   199199386        4305850
9   251452617        6164002
10  340128433        9177149
11  529508337       15106665

In [34]:
cl["Months"][0]
cl.iloc[:,0]
cl.iloc[:3,0]
#cl.iloc[1:3,0]
cl.iloc[[0,1,2],0]
cl.iloc[-5:]

   Months  2020 (US)  2020 (Canada)   2021 (US)  2021 (Canada)
7     Aug  166389385        3850908  1150163602       45460750
8     Sep  199199386        4305850  1249406449       47080268
9     Oct  251452617        6164002  1392031827       52220644
10    Nov  340128433        9177149  1418982171       52864275
11    Dec  529508337       15106665  1857993914       70660679

In [16]:
fruits =pd.DataFrame({"Apple":[30],"Bananas":[21]})
fruits

   Apple  Bananas
0     30       21

In [23]:
pd.Series(["4 cups", "1 cup", "2 large","1 can"],
         index= ["Flour","milk","eggs","spam"],
         name="Dinner",)

Flour     4 cups
milk       1 cup
eggs     2 large
spam       1 can
Name: Dinner, dtype: object